*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

html::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
html::-webkit-scrollbar-thumb {
    background: rgba(255, 152, 84, 0.884);
    border-radius: 15px;
}
html::-webkit-scrollbar-track {
    background: #ffffff;
}

header{
    height: 100vh;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
header article{
    text-align: center;
}
h1{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.myimg{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
header img{
    width: 28px;
    height: 28px;
}

header h5{
    margin-top: 10px;
    font-size: 18px;
}


section{
    padding-left: 50px !important;
    background: linear-gradient(120deg, #ff8843, #8db7ff);
    background-size: 150%;
    animation: gradient 10s ease-out infinite;
}
.row .col-9{
    padding: 0px 40px 0px 60px;
}
@keyframes gradient{
    0%{background-position: 0% 150%;}
    50%{background-position: 75% 0%;}
    100%{background-position: 0% 150%;}
}

section h3{
    margin-top: 40px;
    font-weight: bold;
}

p{
    margin-bottom: 0;
    font-weight: 500;
    font-size: 17px;
    text-align: justify;
}
.tecnologias{
    display: flex;
    justify-content: space-around;
}

section img{
    width: 100px;
    height: 100px;
    transition: all 1s;
}
section .tecnologias img:hover{
    width: 116px;
    height: 116px;
    margin: -8px;
}
section .tecnologias h4{
    font-size: 18px;
    text-align: center;
}

.puntos2{
    height: 43px;
    font-size: 40px;
}

.puntos{
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.puntos h6{
    font-size: 24px;
}

.education{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    align-items: center;
}
.edu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edu p{
    margin-left: 10px;
}

.idiomas{
    display: flex;
    flex-direction: row;
}
.idiomas article{
    margin-top: 18px;
    margin-right: 40px;
    margin-left: 10px;
    text-align: center;
}
.idiomas h4{
    font-size: 20px;
}

.intereses{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.proyectos img{
    margin: 20px;
    border: none;
}

.card{
    width: 370px;
    height: 103px;
    background-color: transparent;
}

.cal{
    width: 210px;
    height: 120px;
}
.trivia{
    width: 140px;
    height: 140px;
}

.proyectos article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

li{
    margin-left: 20px;
}

.btn{
    transition: all 0.7s ease;
}



@media screen and (max-width: 575px){
    .myimg{
        width: 200px;
        height: 200px;
    }
    section{
        padding-left: 25px !important;
    }
    header{
        position: relative !important;
        height: 80vh;
    }
    header img{
        width: 40px;
        height: 40px;
    }
    header h5{
        font-size: 23px;
    }
    p{
        font-size: 20px;
    }
    .edu{
        flex-direction: column;
    }
    .tecnologias{
        flex-wrap: wrap;
    }
    .tecnologias article{
        width: 50%;
        text-align: center;
    }
    li{
        font-size: 20px;
    }
    .card{
        width: 305px;
        height: 80px;
    }
    .education{
        align-items: flex-start;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    .edu{
        flex-direction: column;
    }
    .tecnologias{
        flex-wrap: wrap;
    }
    .tecnologias article{
        width: 50%;
        text-align: center;
    }
    .card{
        width: 305px;
        height: 80px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px){
    
}

@media screen and (min-width: 992px) and (max-width: 1199px){
    .card{
        width: 340px;
        height: 90px;
    }
}